.landing-page{
  word-spacing: ;
}
a {
  text-decoration: none;
   font-family: "Times New Roman", Times, serif;
  
}
ul {
  list-style: none;
  padding: 0;
  margin: 10;
}

.links li a {
    color: white !Important; /* Set the text color to white */
 /* Remove underline from links */
  padding : 10px;
  margin : 4px;
}

.links li a:hover{
  text-decoration : underline;
}

/* Start Landing Page */
.landing-page header {
  min-height: 80px;
  display: flex;
}

  .landing-page header {
    min-height: auto;
    display: initial;
  }

.landing-page header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-page header .logo {
  color: #5d5d5d;
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
}

.landing-page header .links {
  display: flex;
  align-items: center;
}

.landing-page header .links li {
  margin-left: 30px;
  color: #5d5d5d;
  cursor: pointer;
  transition: .3s;
}

.landing-page header .links li:last-child {
  border-radius: 20px;
  padding: 10px 20px;
  color: #FFF;
  background-color: #6c63ff;
}

.container a{
  text-decoration : none;
 color : black !Important;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  
}

/*body design*/
body{
   background-image: linear-gradient(to right, #ccccff,#ffb3ff ,#ccf2ff);
   
}

h1 {
  text-align :center;
  text-decoration: underline;
  padding: 40px;
  
}

.grid-container {
 display: grid;
  column-gap: 50px;
  margin-top:30px;
  padding:30px;
}
.website {
  width:100%;
  grid-area:left;
  grid-column-start: 1;
  grid-column-end: 2;
  float:left;
}
.curioluxe {
   grid-area:right;
  grid-column-start: 2;
  grid-column-end: 3;
  float:right;
}

h2{
  text-align : center;
  color:white;
  font-family: "Times New Roman", Times, serif;
}

.curioluxe .h2:hover{
text-decoration : underline;
}

h2:hover { text-decoration: ; }

.image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50% ;
  border-radius:30%;
  border: 2px solid white ;
	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  opacity: 1;
}

.image:hover img {
	width: 60%;
  opacity: .5;
}

.image2 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
   border-radius:30%;
  border: 2px solid white ;
  height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  opacity: 1;
}

.image2:hover img {
	width: 60%;
  opacity: .5;
}

p {
  text-align: center;
}
.overlay{
  text-align: center;
}

/*footer design*/
.image1 img  {
  float: left;
  height : auto;
  padding : 5px;
    width: 70px;
}

.touch{
  text-align:center;
  padding: 10px;
}

button {
  font-family: "Times New Roman", Times, serif;
     border: 1px solid white;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 15px;
  margin-bottom:20px;
  cursor: pointer;
  color: black;
  background-color: transparent ;
}

button:hover{
background-color: #6c63ff}



.footer {
  position:relative;
  width: 100%;
  background: white;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon_link {
  font-size: 2rem;
  color: black;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon_link:hover {
  color: #ff00ff;
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: black;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}