header {
  text-align : center;
  color : black;
  background-color: #B0C4DE;
  width: 100%;
  
 
  }

.constr h1 {
  text-align : center;
}

.constr h2{
  text-align : center;
    text-decoration : none;
}

.constr h2:hover{
  color : grey;
}



nav {
  color: #ffbf00;
  padding : 10px;
  text-align : left;
}
 
nav a {
   padding : 10px;  
}



body {
  background-color : white;
}
.furniture {
  display : flex;
  justify-content : space-between;
  top-margin:20px;  
}
.furniture img{
  width : 32%;
  margin : 10px;
}

.furn {
  background-color :#ececf9;
  width:100%;
}

footer {
  text-align : center;
  position :fixed;
  bottom : 0;
  width :100%;
  background-color: #B0C4DE;
  color : black;
  
  
}