.links li a {
    color: white !Important; /* Set the text color to white */
 /* Remove underline from links */
  padding : 10px;
  margin : 4px;
}

.links li a:hover{
  text-decoration : underline;
}

/* This will make only the "Get Started" link text white */
#getstarted a {
    color: black;
  background-color  white;
}

.info {
text-align : left;
}

h1 {
  text-decoration : 3px;
   font-family: "Times New Roman", Times, serif;
  color : #00004d !Important;
}

body {
  font-family: 'Open Sans', sans-serif;
 background-image: linear-gradient(to right, #ccccff,#ffb3ff ,#ccf2ff);

}

a {
  text-decoration: none;
   font-family: "Times New Roman", Times, serif;
  
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}
.container a{
  text-decoration : none;
 color : black !Important;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  
}


/* Start Landing Page */
.landing-page header {
  min-height: 80px;
  display: flex;
}

  .landing-page header {
    min-height: auto;
    display: initial;
  }

.landing-page header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-page header .logo {
  color: #5d5d5d;
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
}

.landing-page header .links {
  display: flex;
  align-items: center;
}

.landing-page header .links li {
  margin-left: 30px;
  color: #5d5d5d;
  cursor: pointer;
  transition: .3s;
}

.landing-page header .links li:last-child {
  border-radius: 20px;
  padding: 10px 20px;
  color: #FFF;
  background-color: #6c63ff;
}

.landing-page .content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  min-height: calc(100vh - 80px);
}

.landing-page .content .info h1 {
  color: #5d5d5d;
  font-size: 44px;
}
.landing-page .content .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: black;
}
.landing-page .content .info p1{
  color : #5900b3;
  font-size : 15px;
   margin: 0;
  line-height: 1.6;
}
.landing-page .content .info button {
  border:1px solid white;
  border-radius: 20px;
  font-family: "Times New Roman", Times, serif;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: black;
  background-color: transparent;
}

.landing-page .content .info button:hover {
  background-color : #b380ff;
}

.landing-page .content .image img {
  max-width: 100%;
}
/* End Landing Page */

.image1 img  {
  float: left;
  padding : 5px;
    width: 70px;
}


  .footer {
  position:relative;
  width: 100%;
  background: white;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon_link {
  font-size: 2rem;
  color: black;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon_link:hover {
  color: #ff00ff;
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: black;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}