.landing-page{
  word-spacing: ;
}
a {
  text-decoration: none;
   font-family: "Times New Roman", Times, serif;
  
}
ul {
  list-style: none;
  padding: 0;
  margin: 10;
}

.links li a {
    color: white !Important; /* Set the text color to white */
 /* Remove underline from links */
  padding : 10px;
  margin : 4px;
}

.links li a:hover{
  text-decoration : underline;
}
/* Start Landing Page */
.landing-page header {
  min-height: 80px;
  display: flex;
  width : 100%;
}

  .landing-page header {
    min-height: auto;
    display: initial;
  }

.landing-page header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-page header .logo {
  color: #5d5d5d;
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
}

.landing-page header .links {
  display: flex;
  align-items: center;
}

.landing-page header .links li {
  margin-left: 30px;
  color: #5d5d5d;
  cursor: pointer;
  transition: .3s;
}

.landing-page header .links li:last-child {
  border-radius: 20px;
  padding: 10px 20px;
  color: #FFF;
  background-color: #6c63ff;
}

.container a{
  text-decoration : none;
 color : black !Important;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  
}
/*body design*/
body{
   background-image: linear-gradient(to right, #ccccff,#ffb3ff ,#ccf2ff);
   
}



input[type=text], select, textarea {
  width: 70%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #8000ff; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 8px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    float: left;
}

button {
  font-family: "Times New Roman", Times, serif;
     border: 1px solid white;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 15px;
  margin-bottom:20px;
  cursor: pointer;
  color: black;
  background-color: transparent ;
}

button:hover{
background-color: #6c63ff}

h2{
color:white;
}

.image {
  width: ;
    height: px;
    align-items: ;
  
}
 .image img {
  width: 38%;
    height: ;
   float : left ;
  padding : 0px;
   border-radius : 50%;
   border: 2px solid black;
   
}

.me img{
padding : 0px;
width:40%;
  height:100%;
border-radius:40%;
  border: 1px solid #1a1aff ;
}

h3{
  padding: 20px;
  background-color :#ffe6ff !Important;
  width : 40%;
}


/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: ;
  padding: 5px;
  float:left;
  width: 60%;
  margin-bottom:4%;
}

.footer {
  position:relative;
  width: 100%;
  background: white;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon_link {
  font-size: 2rem;
  color: black;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon_link:hover {
  color: #ff00ff;
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: black;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}